*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #1d0000, #20205b);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calender{
    width: 300px;
    height: 300px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
}
.left, .right{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
}
.right{
    background: #f4351e;
    color: #fff;
    width: 45%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    

}
.left{
    width: 55%;

}
#date{
    font-size: 100px;
    line-height: 90px;
}
#year{
    font-size: 55px;
}